* {
    margin: 0px;
    padding: 0px;
}

div {
	margin:0px auto;
}

.all{
	margin-top:200px;
}

.login {
	width:310px;
	height:50px;
}

table{
	width:310px;
	height:50px;
}

.name {
	width:144;
}

.last {
	margin-top:80px;
}

p {
	text-align:center;
	size:5;
}