<script>
	var lock=0;
	function login_lock(){
		if(lock){
			myScript.message('<?php echo $system->lang('login','wait');?>',lock==1?'<?php echo $system->lang('login','wait.server');?>':'<?php echo $system->lang('login','wait.cd');?>','green');
			return true;
		}
		lock=1;
		return false;
	}
	function login_ok(){
		window.location.href=window.location.hash?window.location.hash.substr(1):"<?php echo URLROOT;?>home";
	}
	function login_error(){
			lock=2;
			setTimeout(function(){lock=0},5000);
	}
	$('img')[0].chage = function () {
		this.src="<?php echo $system->ini_get('imgs_url');?>addition.php?name=login&"+Math.random();
	};
	$('img')[0].onclick = function () {
		this.chage();
	};
	var inputs = $('input');
	$("#loginbutton").onclick = function () {
		if(inputs[0].value===''){
			myScript.message('<?php echo $system->lang('login','worrylogin');?>','<?php echo $system->lang('login','require.username');?>','orange');
			return;
		}
		if(inputs[1].value===''){
			myScript.message('<?php echo $system->lang('login','worrylogin');?>','<?php echo $system->lang('login','require.password');?>','orange');
			return;
		}
		if(inputs[2].value===''){
			myScript.message('<?php echo $system->lang('login','worrylogin');?>','<?php echo $system->lang('login','require.verification');?>','orange');
			return;
		}
		if(login_lock()) return;
		var ajax=myScript.ajax()
		ajax.setCont({
			'username':inputs[0].value,
			'password': inputs[1].value,
			'login': inputs[2].value,
			'remember':inputs[3].checked?1:0
		});
		ajax.page = '<?php echo URLROOT;?>p/login';
		ajax.callback = function (ajax) {
			//alert(ajax.text);
			try{
				//var res=eval(ajax.text);
				//var res=eval('('+decodeURI(ajax.text)+')');
				var res=ajax.json;
				if(res['isok']){
					login_ok();
				}else{
					myScript.message('<?php echo $system->lang('login','loginerror');?>:',res['info'],'red');
					$('img')[0].chage();
				}
			}catch(e){
				myScript.show('无法识别数据，服务器内部可能发生错误',ajax.text);
			}
			login_error();
		}
		ajax.send();
	};
	$('#login_box').onkeydown=function(ev){
		if(ev.keyCode==13){
			inputs[4].onclick();
		}
	}
</script>