<style>
	#good_info{
		overflow: hidden;
		margin: 10px auto;
		width: 800px
	}
	#good_info div{
		float: left;
		margin: 10px;
		height: 200px;
	}
	#g_img{
		width:280px;
		height: 200px;
	}
	#good_info img{
		width:100%;
		height: 100%;
	}
	#g_text{
		width: 480px;
	}
	#g_name{
		color: red;
		font-size: 32px;
	}
	#g_take{
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: 0;
		font-size: 28px;
		color: orange;
	}
	#div_num{
		text-align: center;
	}
	#buy{
		border-radius: 5px;
		background-color: skyblue;
		margin: 10px auto;
		text-align: center;
		width: 200px;
		height: 50px;
		line-height: 50px;
		cursor:pointer;
	}
</style>
<div id="main">
	<div id="good_info">
		<div id="g_img">
			<img src="?" />
		</div>
		<div id="g_text">
			<p id="g_name"><?php echo $info['name'];?></p>
			<p id="g_info"><?php echo $info['jiesao'];?></p>
			<p id="g_take"><?php echo $info['take_number'],$info['take_type'];?></p>
		</div>
	</div>
	<div id="div_num">数量：<input id="buynum" type="number" value="1"/></div>
	<div id="buy">立即购买</div>
	<br/>
</div>
<script>
	$("#buynum").onchange=function(ev){
		if(this.value===''&&this.value<1){
			myScript.message('无法设置商品的值'+this.value,'商品数量至少为1');
			this.value=1;
		}
	}
	$('#buy').onclick=function(){
		var b_nu=$('#buynum').value;
		if(b_nu<1){
			myScript.message('无法设置商品的值'+this.value,'商品数量至少为1');
			return;
		}
		var ajax=$.ajax();
		ajax.page='#';
		ajax.data='buy='+b_nu;
		ajax.callback=function(ajax){
			alert(ajax.text);
		}
		ajax.send();
	}
</script>