<style>
	#good_info{
		overflow: hidden;
		margin: 10px auto;
		width: 800px
	}
	#good_info div{
		float: left;
		margin: 10px;
		height: 200px;
	}
	#g_img{
		width:280px;
		height: 200px;
	}
	#good_info img{
		width:100%;
		height: 100%;
	}
	#g_text{
		width: 480px;
	}
	#g_name{
		color: red;
		font-size: 32px;
	}
	#g_take{
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: 0;
		font-size: 28px;
		color: orange;
	}
	#div_num{
		text-align: center;
	}
	#buy{
		border-radius: 5px;
		background-color: skyblue;
		margin: 10px auto;
		text-align: center;
		width: 200px;
		height: 50px;
		line-height: 50px;
	}
</style>
<div id="main">
	<div id="good_info">
		<div id="g_img">
			<img src="?" />
		</div>
		<div id="g_text">
			<p id="g_name">name</p>
			<p id="g_info">info</p>
			<p id="g_take">50jg</p>
		</div>
	</div>
	<div id="div_num">数量：<input type="number" value="1"/></div>
	<div id="buy">立即购买</div>
	<br/>
</div>