<style>
	#good_info{
		overflow: hidden;
		margin: 10px auto;
		width: 800px
	}
	#good_info div{
		float: left;
		margin: 10px;
		height: 200px;
	}
	#g_img{
		width:280px;
		height: 200px;
	}
	#good_info img,#good_info canvas{
		width:100%;
		height: 100%;
	}
	#g_text{
		width: 480px;
	}
	#g_name{
		color: red;
		font-size: 32px;
	}
	#g_take{
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: 0;
		font-size: 28px;
		color: orange;
	}
	#div_num{
		text-align: center;
	}
	#buy{
		border-radius: 5px;
		background-color: skyblue;
		margin: 10px auto;
		text-align: center;
		width: 200px;
		height: 50px;
		line-height: 50px;
		cursor:pointer;
	}
</style>
<div id="main" class="block">
	<div id="good_info">
		<div id="g_img">
			<img src="?" />
		</div>
		<div id="g_text">
			<p id="g_name"><?php echo $info['name'];?></p>
			<p id="g_info"><?php echo $info['ginfo'];?></p>
			<p id="g_take"><?php echo $info['take_number'],$info['take_type'];?></p>
		</div>
	</div>
	<div id="div_num"><?php echo $system->lang('home','number');?><input id="buynum" type="number" value="1"/></div>
	<div id="buy"><?php echo $system->lang('home','buy');?></div>
	<br/>
</div>
<script>
	$('#g_img img')[0].onerror=function(){
		this.style.display='none';
		var c=myScript.set_dom('canvas',this.parentNode);
		var p=c.getContext('2d');
		p.fillStyle="#08F";
		p.fillRect(0,0,c.width,c.height);
		p.fillStyle="orange";
		p.textAlign='center';
		var s=(c.width-20)/$("#g_name").innerHTML.length;
		if(s>c.height*0.8) s=c.height*0.8;
		p.font=s+"px Arial";
		p.fillText($("#g_name").innerHTML,c.width/2,c.height*0.4+s/2,c.width);
	}
	$("#buynum").onchange=function(ev){
		if(this.value===''||this.value<1){
			myScript.message('<?php echo $system->lang('home','buy.worry_mumber');?>'+this.value,'<?php echo $system->lang('home','buy.min_value');?>');
			this.value=1;
		}
	}
	$('#buy').onclick=function(){
		var b_nu=$('#buynum').value;
		if(b_nu<1){
			myScript.message('<?php echo $system->lang('home','buy.worry_mumber');?>'+this.value,'<?php echo $system->lang('home','buy.min_value');?>');
			return;
		}
		var ajax=$.ajax();
		ajax.page='#';
		ajax.data='buy='+b_nu;
		ajax.callback=function(ajax){
			if(ajax.json){
				if(ajax.json.error==0) window.location.reload(true);
				var e_info=ajax.json.error_info;
				myScript.message('<?php echo $system->lang('home','buy.error');?>',e_info);
			}else alert(ajax.text);
		}
		ajax.send();
	}
</script>