<style type="text/css">
	#head{
		background: #000;
		color: #FFF;
		line-height: 40px;
	}
	#head div{
		width: 900px;
		margin: 0 auto;
		overflow: hidden;
	}
	#head .l{
		line-height: 40px;
		float: left;
		width: 500px;
	}
	#head .r{
		line-height: 40px;
		float: right;
		width: 290px;
		text-align: right;
	}
	#main .info div div{
		float: left;
		width: 48%;
		margin: 1%;
	}
	#main .info .say{
		font-size: 12px;
		margin-left: 10px;
	}
	#messages span{
		font-family: '宋体'; 
	}
	#main{
		overflow: hidden;
	}
	#user_head{
		height:30px;
		margin:1px 0 -9px 0;
		border-radius:2px;
	}
	#names{
		width: 500px;
		left: 50%;
		margin:0  400px -29px -400px;
		overflow: hidden;
		z-index: 100;
		line-height:48px;
		font-size:22px;
	}
	#names div{
		float:left;
		background-color:#000;
		padding:2px;
		line-height: 0;
	}
	#names div img{
		height: 60px;
	}
	.main_top{
		height: 10px;
	}
</style>
<div id="head">
	<div>
		<div class="l">欢迎来到星星站点用户中心</div>
		<div class="r">
			<img src="<?php echo URLROOT.'user/head/'.$_SESSION['userinfo']['uid']; ?>" alt="user_head" id="user_head"/>
			<?php echo $_SESSION['userinfo']['username'];?>[<a href="<?php echo URLROOT;?>p/logout">退出</a>]
		</div>
	</div>
</div>
<br/><br/><br/><br/>
<div id="dh">
	<a href="<?php echo URLROOT;?>home/friends">好友列表</a>
	<a href="<?php echo URLROOT;?>home/message">消息/通知列表</a>
	<a href="<?php echo URLROOT;?>home/info">个人资料</a>
	<a href="<?php echo URLROOT;?>home/soft">账号安全</a>
</div>
<div class="main_top"></div>