<style>
	.message{
		border-radius: 5px;
		/*box-shadow:10px 10px 40px 5px black;*/
		border: 1px solid #000;
		margin: 2px;
		padding: 2px;
		background-color: #FFF;
		cursor:pointer;
	}
	div{
		overflow: hidden;
	}
	.m1,.m2,.m3,.m4,.m5,.m6,.m7{
		float: left;
	}
	.m1{
		width: 2%;
	}
	.m2{
		width: 19%;
	}
	.m3{
		width: 9%;
	}
	.m4{
		width: 9%;
	}
	.m5{
		width: 55%;
	}
	.m6{
		width: 5%;
	}
</style>
<div id="main" class="block">
	<h1><?php echo $system->lang('home','message_list');?></h1>
	<div>
		<br/>
		<select id="dosth">
			<option value="a">--<?php echo $system->lang('home','select_option');?>--</option>
			<option value="delete"><?php echo $system->lang('home','delete');?></option>
			<option value="a"><?php echo $system->lang('home','marked_as'),$system->lang('home','read');?></option>
		</select>
		<input type="button" value="<?php echo $system->lang('home','send_message');?>" class="send"/>
			<div>
				<div class="m1">　</div>
				<div class="m2"><?php echo $system->lang('home','time');?></div>
				<div class="m3"><?php echo $system->lang('home','sender');?></div>
				<div class="m4"><?php echo $system->lang('home','geter');?></div>
				<div class="m5"><?php echo $system->lang('home','content');?></div>
				<div class="m6"><?php echo $system->lang('home','state');?></div>
			</div>
<?php foreach ($mlist as $v){?>
			<div class="message" mid="<?php echo $v['mid']; ?>" onclick="select(this)">
				<div class="m1"><input type="checkbox" class="check"></div>
				<div class="m2"><?php echo date('Y-m-d H:m:s',$v['time']);?></div>
				<div class="m3"><?php echo $v['sender']; ?></div>
				<div class="m4"><?php echo $v['geter']; ?></div>
				<div class="m5"><?php echo mb_substr($v['body'],0,30,'utf-8'); ?></div>
				<div class="m6"><?php echo $v['type']&1==1?$system->lang('home','read'):$system->lang('home','unreed'); ?></div>
			</div>
<?php } ?>
	</div>
	<script type="text/javascript">
		var messageBox;
		function select(t){
			window.location.href='<?php echo URLROOT ?>home/message?mid='+t.getAttribute('mid');
		}
		$('.send').set('onclick',function(){
			window.location.href='<?php echo URLROOT ?>home/send_message';
		})
		$('.del').set('onclick',function(){
			myScript.fast_ajax('<?php echo URLROOT;?>p/delete_message',function(ajax){
				if(ajax.json){
					if(ajax.json.info) myScript.show(ajax.json.info);
					else window.location.reload(true);
				}else{
					myScript.show('sever error<br/>'+ajax.text);
				}
			},{
				mid:this.parentNode.parentNode.getAttribute('mid')
			})
		});
		$('#dosth').onchange=function(){
			switch(this.value){
				case 'delete':
					if (messageBox) return;
					messageBox=myScript.show('<?php echo $system->lang('home','confirm_delete_message');?><br/><br/>　　<input type="button" value=" <?php echo $system->lang('home','yes');?> " onclick="messageBox.istrue=true;messageBox.off();"/>　　<input type="button" value=" <?php echo $system->lang('home','no');?> " onclick="messageBox.off();"/>');
					messageBox.onoff=function(){
						if(this.istrue){
							var c=$('.check');
							for (var i = c.length - 1; i >= 0; i--) {
								if(c[i].checked) myScript.fast_ajax('<?php echo URLROOT;?>p/delete_message',null,{
									mid:c[i].parentNode.parentNode.getAttribute('mid')
								})
							}
							setTimeout(function(){window.location.reload(true)},100);
						}
						messageBox=null;
					}
					break;
			}
		}
		$('.check').set('onclick',function(ev){
			ev.stopPropagation(); 
		});
	</script>
</div>