	<style>
		#change_head{
			z-index: 10;
			position: absolute;
			background: rgba(0,0,0,0.5);
			color: #FFF;
			bottom: 0;
			height: 20px;
			width: 99%;
		}
	</style>
	<br/>
	<div id="names">
		<div><img src="<?php echo URLROOT.'user/head/'.$_SESSION['userinfo']['uid']; ?>" alt="头像" onmouseout="this.nextSibling.style.display='none';" onmouseover="this.nextSibling.style.display='';" onclick="window.location.href='change_haad';"><p style="display:none;" id="change_head">修改头像</p></div>
		　<?php echo $user['username'];?>
	</div>
	<div id="main">
	<br/><br/>
	<div class="info">
		<div>
			<div class="left">性别</div>
			<div class="lright"><?php echo $user['sex']?($user['sex']==1?'男':'女'):'保密';?></div>
		</div>
		<div>
			<div class="left">真实姓名</div>
			<div class="lright"><?php echo $user['true_name']?$user['true_name']:'未填写';?></div>
		</div>
		<div>
			<div class="left">主用户组</div>
			<div class="lright"><?php echo $user['gname']?$user['gname']:'　';?></div>
		</div>
		<div>
			<div class="left">扩展用户组</div>
			<div class="lright">XXX<br/>hello<br/>world<br/>test</div>
		</div>
		<div>
			<div class="left">自定义头衔</div>
			<div class="lright"><?php echo $user['title']?$user['title']:'未填写';?></div>
		</div>
		<div>
			<div class="left">QQ</div>
			<div class="lright"><?php echo $user['qq']?$user['qq']:'还未设置';?></div>
		</div>
		<div>
			<div class="left">注册ip</div>
			<div class="lright"><?php echo $user['reg_ip'];?></div>
		</div>
		<div>
			<div class="left">注册时间</div>
			<div class="lright"><?php echo date('Y-m-d h:m:s',$user['reg_time']);?></div>
		</div>
		<div>
			<div class="left">生日</div>
			<div class="lright"><?php echo isset($user['barth'])?$user['barth']:'未填写';?></div>
		</div>
		<div>
			<div class="left">积分</div>
			<div class="lright">&nbsp;</div>
		</div>
		<?php foreach($exc as $k=>$v){ ?>
		<div>
			<div class="left"><?php echo $k;?></div>
			<div class="lright"><?php echo $v;?></div>
		</div>
		<?php } ?>
	</div>
</div>