	<style>
		#change_head{
			z-index: 10;
			position: absolute;
			background: rgba(0,0,0,0.5);
			color: #FFF;
			bottom: 0;
			height: 20px;
			width: 99%;
		}
		.left,.right{
			min-height:22px;
		}
	</style>
	<br/>
	<div id="names">
		<div><img src="<?php echo URLROOT.'user/head/'.$_SESSION['userinfo']['uid']; ?>" alt="<?php echo $system->lang('home','head');?>" onmouseout="this.nextSibling.style.display='none';" onmouseover="this.nextSibling.style.display='';" onclick="window.location.href='change_haad';"><p style="display:none;" id="change_head"><?php echo $system->lang('home','change_head');?></p></div>
		　<?php echo $user['username'];?>
	</div>
	<div id="main" class="block">
	<br/><br/>
	<div class="info">
		<div>
			<div class="left"><?php echo $system->lang('home','sex');?></div>
			<div class="right"><?php echo $user['sex']?($user['sex']==1?$system->lang('home','male'):$system->lang('home','female')):$system->lang('home','not_set');?></div>
		</div>
		<div>
			<div class="left"><?php echo $system->lang('home','true_name');?></div>
			<div class="right"><?php echo $user['true_name']?$user['true_name']:'-';?></div>
		</div>
		<div>
			<div class="left"><?php echo $system->lang('home','group');?></div>
			<div class="right"><?php echo $user['gname']?$user['gname']:'　';?></div>
		</div>
		<div>
			<div class="left"><?php echo $system->lang('home','egroup');?></div>
			<div class="right">
<?php if($egroups)foreach($egroups as $v){?>
				<p style="color:#<?php echo $v['color'];?>"><?php echo $v['gname'];?></p>
<?php }else{?>
				<p class="beizhu"><?php echo $system->lang('home','not_set');?></p>
<?php } ?>
			</div>
		</div>
		<div>
			<div class="left"><?php echo $system->lang('home','udtitle');?></div>
			<div class="right"><?php echo $user['title']?$user['title']:$system->lang('home','not_set');?></div>
		</div>
		<div>
			<div class="left"><?php echo $system->lang('home','QQ');?></div>
			<div class="right"><?php echo $user['qq']?$user['qq']:$system->lang('home','not_set');?></div>
		</div>
		<div>
			<div class="left"><?php echo $system->lang('home','reg_ip');?></div>
			<div class="right"><?php echo $system->protect_ip($user['reg_ip']);?></div>
		</div>
		<div>
			<div class="left"><?php echo $system->lang('home','reg_time');?></div>
			<div class="right"><?php echo date('Y-m-d H:m:s',$user['reg_time']);?></div>
		</div>
		<div>
			<div class="left"><?php echo $system->lang('home','birthday');?></div>
			<div class="right"><?php echo isset($user['barth'])?$user['barth']:$system->lang('home','not_set');?></div>
		</div>
		<div>
			<div class="left"><?php echo $system->lang('home','score');?></div>
			<div class="right">&nbsp;</div>
		</div>
		<?php foreach($exc as $k=>$v){ ?>
		<div>
			<div class="left"><?php echo $k;?></div>
			<div class="right"><?php echo $v;?></div>
		</div>
		<?php } ?>
	</div>
</div>