<style>
.g_list{
	overflow: hidden;
}
	.goods{
		display: block;
		width: 32%;
		margin: 5px;
		border:1px inset #000;
		float:left;
		color: #000;
	}
	.goods img,.goods canvas{
		width:98%;
		height: 200px;
		margin: 1%;
	}
	.goods .g_take{
		text-align: right;
	}
</style>
<div id="main">
	<h1>通用商品：</h1>
	<hr/>
	<div class="g_list">
	<?php foreach($goods as $v){ ?>
		<a href="<?php echo URLROOT,'home/goods/',$v['gid'];?>" class="goods" title="<?php echo $v['jiesao'];?>">
			<div>
				<div><img src="?" /></div>
				<h2><?php echo $v['name'];?></h2>
				<div class="g_take"><?php echo $v['take_type'],':  ',$v['take_number'];?></div>
			</div>
		</a>
	<?php } ?>
	</div>
	<br/><br/>
	<hr/>
	<h1>用户组专享商品：</h1>
	<hr/>暂未开放
	<?php if(false)foreach($goods as $v){ ?>
	<a href="#" class="goods" title="<?php echo $v['jiesao'];?>">
		<div>
			<img src="?" />
			<h2><?php echo $v['name'];?></h2>
			<div class="g_take"><?php echo $v['take_type'],':  ',$v['take_number'];?></div>
		</div>
	</a>
	<?php } ?>
</div>
<script>
	$('.goods img').set('onerror',function(){
		this.style.display='none';
		var c=myScript.set_dom('canvas',this.parentNode);
		var p=c.getContext('2d');
		p.fillStyle="#08F";
		p.fillRect(0,0,c.width,c.height);
		p.fillStyle="orange";
		p.textAlign='center';
		var s=(c.width-20)/myScript.$get('h2',this.parentNode.parentNode)[0].innerHTML.length;
		if(s>c.height*0.8) s=c.height*0.8;
		p.font=s+"px Arial";
		p.fillText(myScript.$get('h2',this.parentNode.parentNode)[0].innerHTML,c.width/2,c.height*0.4+s/2,c.width);
	})
</script>