<style>
.g_list{
	overflow: hidden;
}
<?php if($system->on_phone()){ ?>
	.goods{
		display: block;
		width: 95.5%;
		margin: 2%;
		border:1px inset #000;
		color: #000;
	}
	.goods img,.goods canvas{
		width:100%;
	}
<?php }else{ ?>
	.goods{
		display: block;
		width: 31.6%;
		margin: 5px;
		border:1px inset #000;
		float:left;
		color: #000;
	}
	.goods img,.goods canvas{
		width:230px;
		height:150px;
	}
<?php } ?>
	.goods .g_img_div{
		padding: 1% 3px;
	}
	.goods .g_take{
		text-align: right;
	}
</style>
<div id="main">
	<div class="block">
		<h1><?php echo $system->lang('home','goods_for_all');?></h1>
		<div class="g_list">
<?php foreach($goods as $v){ ?>
			<a href="<?php echo URLROOT,'home/goods/',$v['gid'];?>" class="goods" title="<?php echo $v['ginfo'];?>">
				<div>
					<div class="g_img_div"><img src="?" /></div>
					<h2><?php echo $v['name'];?></h2>
					<div class="g_take"><?php echo $v['take_type'],':  ',$v['take_number'];?></div>
				</div>
			</a>
<?php } ?>
		</div>
	</div>
	<div class="block">
		<h1><?php echo $system->lang('home','goods_for_group');?></h1>
		<hr/>暂未开放
	<?php if(false)foreach($goods as $v){ ?>
	<a href="#" class="goods" title="<?php echo $v['ginfo'];?>">
		<div>
			<img src="?" />
			<h2><?php echo $v['name'];?></h2>
			<div class="g_take"><?php echo $v['take_type'],':  ',$v['take_number'];?></div>
		</div>
	</a>
	<?php } ?>
		</div>
	</div>
<script>
<?php if($system->on_phone()){ ?>
	var t=$('.goods img');
	for(i=0;i<t.length;i++){
		t[i].style.height=(parseInt(t[i].parentNode.offsetWidth)*150/230)+"px";
	}
<?php } ?>
	$('.goods img').set('onerror',function(){
		this.style.display='none';
		var c=myScript.set_dom('canvas',this.parentNode);
		var p=c.getContext('2d');
		p.fillStyle="#08F";
		p.fillRect(0,0,c.width,c.height);
		p.fillStyle="orange";
		p.textAlign='center';
		var s=(c.width-20)/myScript.$get('h2',this.parentNode.parentNode)[0].innerHTML.length;
		if(s>c.height*0.8) s=c.height*0.8;
		p.font=s+"px Arial";
		p.fillText(myScript.$get('h2',this.parentNode.parentNode)[0].innerHTML,c.width/2,c.height*0.4+s/2,c.width);
	})
</script>