<!DOCTYPE html>
<html>
	<head></head>
	<style>
		 body,html{
		 	width:320px;
		 	height:190px;
		 	margin:0;
		 	padding:0;
		 	}
		 	#card{
		 		width:100%;
		 		height:100%;
		 	background:url("<?php echo $system->ini_get('imgs_url').'card/'.(false?'':'default.jpg');?>");
		 	background-size: cover;
		 	border:1px #000 solid;
		 	overflow:hidden;
		 }
	</style>
	<body>
		<div id="card">
		<h1 style="color:#<?php echo $user['color'];?>"><?php echo $user['username'];?></h1>
		<p><?php echo $user['title'];?></p>
		<p>注册时间:<?php echo date('Y-m-d H:m:s',$user['reg_time']);?></p>
		<?php var_dump($user); ?>
		</div>
	</body>
</html>