<style>
	#body{
		width:400px;
		/*position:absolute;*/
		margin-left:-200px;
		left:50%;
		margin-top:11px;
	}
	p{
		text-align:center;
	}
</style>
<div id="body">
	<h1>请先登录</h1>
	<hr/>
	<div>
		<p>用户名：<input type="text" size="20"/></p>
		<p>密　码：<input type="password" size="20"/></p>
		<p>验证码：<img src="<?php echo $system->ini_get('imgs_url');?>addition.php?name=login"/>=<input type="number" size="1" maxlength="3"/>
		</p>
		<p><input type="checkbox"/>记住登陆　　　　　<input type="button" value="登陆"/></p>
		<p>还没有账号？<input type="button" value="立刻注册一个"/></p>
	</div>
</div>
<br/><br/>
<p>sucs是star user center server（星星用户中心服务器端），星星站点登陆均需要从这里处理</p>
<br/>
<script type="text/javascript">
	var lock=0;
	$('img')[0].chage = function () {
		this.src="<?php echo $system->ini_get('imgs_url');?>addition.php?name=login&"+Math.random();
	};
	$('img')[0].onclick = function () {
		//alert('hello');
		this.chage();
	};
	var inputs = $('input');
	inputs[4].onclick = function () {
		if(lock){
			myScript.message('请稍后',lock==1?'脚本正在和服务器互交哦':':) 提交太快服务器会被玩坏的','green');
			return;
		}lock=1;
		if(inputs[0].value===''){
			myScript.message('无效的登陆','您必须输入用户名','orange');
			return;
		}
		if(inputs[1].value===''){
			myScript.message('无效的登陆','您必须输入密码','orange');
			return;
		}
		if(inputs[2].value===''){
			myScript.message('无效的登陆','您必须输入验证码','orange');
			return;
		}
		var ajax=myScript.ajax()
		ajax.setCont({
			'username':inputs[0].value,
			'password': inputs[1].value,
			'login': inputs[2].value,
			'remember':inputs[3].checked?1:0
		});
		ajax.page = '<?php echo URLROOT;?>p/login';
		ajax.callback = function (ajax) {
			//alert(ajax.text);
			try{
				//var res=eval(ajax.text);
				var res=eval('('+decodeURI(ajax.text)+')');
				if(res['isok']){
					window.location.href=window.location.hash?window.location.hash.substr(1):"<?php echo URLROOT;?>home";
				}else{
					myScript.message('登陆失败:',res['info'],'red');
					$('img')[0].chage();
				}
			}catch(e){
				myScript.show('无法识别数据，服务器内部可能发生错误',ajax.text);
			}
			lock=2;
			setTimeout(function(){lock=0},1000);
		}
		ajax.send();
	};
	inputs[5].onclick=function(){
		window.location.href="<?php echo URLROOT;?>index/reg";
	};
	$('#body').onkeydown=function(ev){
		if(ev.keyCode==13){
			inputs[4].onclick();
		}
	}
</script>