<link rel="stylesheet" type="text/css" href="<?php echo $system->ini_get('styles_url');?>login.css" />
<div id="HDiv1">
	<div id="title_box">
		<h1>星星站点</h1>
		<h2>用户中心——登陆</h2>
	</div>
	<div id="login_box">
		<h4>将登陆文件拖拽到这里可以实现文件拖拽登陆哦</h4><br/><hr/><br/>
		<p>用户名：<input type="text" size="20"/></p>
		<p>密　码：<input type="password" size="20"/></p>
		<p>验证码：<img src="<?php echo $system->ini_get('imgs_url');?>addition.php?name=login"/>=<input class="nu" type="number" size="1" maxlength="3"/>
		</p>
		<div><input type="checkbox"/>记住登陆</div>
		<p><input type="button" value="登陆" id="loginbutton"/></p>
		<div><a href="<?php echo URLROOT;?>index/reg">注册</a></div>
</div>
<?php include $system->get_view('script/login');?>
<script type="text/javascript">
	//文件拖拽
	dropbox=$("#login_box");
	document.addEventListener("dragenter", function(e){  
		dropbox.style.borderColor = 'gray';

		dropbox.style.borderColor = 'gray';  
		dropbox.style.backgroundColor = 'white';  
	}, false);  
	document.addEventListener("dragleave", function(e){  
		dropbox.style.borderColor = 'silver';

		dropbox.style.backgroundColor = 'transparent';  
		e.stopPropagation();
		e.preventDefault();
	}, false);
	document.addEventListener("dragover", function(e){  
		e.stopPropagation();
		e.preventDefault();
	}, false);
	document.addEventListener("drop", function(e){  
		e.stopPropagation();  
		e.preventDefault();
		if(e.dataTransfer.files.length==0) return;
		if(login_lock()) return;
		var fd = new FormData();
		fd.append('FILE', e.dataTransfer.files[0]);
		ajax=$.ajax();
		ajax.page='<?php echo URLROOT;?>p/filelogin';
		ajax.data=fd;
		ajax.setHead=false;
		ajax.callback=function(ajax){
			if(ajax.text=='can') login_ok();
			else{
				myScript.message('登陆失败:',ajax.text,'red');
				login_error();
			}
		}
		ajax.send();
	}, false);
</script>