<link rel="stylesheet" type="text/css" href="<?php echo $system->ini_get('styles_url');?>reg.css" />
<div id="main" class="block">
	<h1>
		<?php echo $system->lang('login','register.inputinfo');?>
	</h1>
	<div class="button_div">
		<a href="<?php echo URLROOT;?>index/reg_for_key"><?php echo $system->lang('login','register.key');?></a>
		<a href="<?php echo URLROOT;?>index/login"><?php echo $system->lang('login','login');?></a>
	</div>
	<div  class="info_input">
		<?php echo $system->lang('login','register.username');?><input type="text" id="username"/><br/>
		<?php echo $system->lang('login','register.password');?><input type="password" id="password1"/><br/>
		<?php echo $system->lang('login','register.password2');?><input type="password" id="password2"/><br/>
		<?php echo $system->lang('login','register.verification');?><img src=""/>
		=<input type="number" maxlength="3" size="3" id="add"/>
	</div>
	<div class="button_div"><a onclick="up()" href="#"><?php echo $system->lang('login','register.submit');?></a></div>
</div>
<script>
$('img')[0].onclick=function(){
	this.src="<?php echo URLROOT; ?>img/addition.php?name=<?php echo $system->ini_get('reg_ver_ses_name');?>&"+Math.random();
}
$('img')[0].onclick();
lock=false;
function up(){
		if(lock){
			myScript.message('<?php echo $system->lang('login','wait');?>','<?php echo $system->lang('login','wait.server');?>','orange');
			return;
		}
		if(!$('#username').value){
			myScript.message('<?php echo $system->lang('login','need_info');?>','<?php echo $system->lang('login','require.usernem');?>','orange');
			return;
		}
		if(!$('#password1').value){
			myScript.message('<?php echo $system->lang('login','worry_info');?>','<?php echo $system->lang('login','require.password');?>','orange');
			return;
		}
		if($('#password1').value!=$('#password2').value){
			myScript.message('<?php echo $system->lang('login','need_info');?>','<?php echo $system->lang('login','register.password_worry');?>','#DD2');
			return;
		}
		if(!$('#add').value){
			myScript.show('<?php echo $system->lang('login','need_info');?>','<?php echo $system->lang('login','require.verification');?>','orange');
			return;
		}
		lock=true;
		var ajax=$.ajax();
		ajax.page='<?php echo URLROOT;?>p/reg';
		ajax.setCont({
			'username':$('#username').value,
			'password':$('#password1').value,
			'add':$('#add').value
		});
		ajax.callback=function(ajax){
			lock=false;
			if(ajax.json){
				if(ajax.json.error){
					switch (ajax.json.error){
						case -1:
						var info='验证码错误';
						break;
						case 1:
						var info='用户名已存在，请换一个';
						break;
						default:
						var info='未知的错误代码'+ajax.json.error;
						break;
					}
					myScript.message('<?php echo $system->lang('login','register.error');?>',info,'red');
					$('img')[0].onclick()
				}else{
					myScript.show('<?php echo $system->lang('login','register.succeed');?>').onoff=function(){
						location.href='<?php echo URLROOT;?>';
					};
				}
			}else{
				myScript.show(ajax.text);
			}
		}
		ajax.send();
	}
	window.onkeydown=function(ev){
		if(ev.keyCode==13) up();
	}
</script>