<div style="height:110px;"></div>
<div id="main">
	<h2>
		为防止恶意刷取邀请码或恶意注册，必须输入的验证码
	</h2>
	<p style="text-align: center;">
		<img src="<?php echo URLROOT; ?>img/addition.php?name=<?php echo $system->ini_get('reg_ver_ses_name');?>"/>
		<input type="text" maxlength="3" size="3"/>
	</p>
	<h1>请输入你的邀请码<input type="text"/><input type="button" value="立刻注册" onclick="reg($('input')[1].value);"></h1>
	<h4>邀请码区分大小写</h4>
	<h4>没有邀请码？<a href="javascript:reg('')">尝试使用空邀请码</a>或转至普通注册页面</h4>
</div>
<script>
	$('img')[0].onclick=function(){
		this.src='<?php echo URLROOT; ?>img/addition.php?name=<?php echo $system->ini_get('reg_ver_ses_name');?>&t='+Math.random();
	}
	var info=[];
	var ver;//暂存验证码
	
	//第一个回调函数
	function cb1(ajax){
		if(ajax.json){
			if(ajax.json.error){
				$('input')[0].value='';
				$('img')[0].onclick();
				myScript.show('糟糕，服务器没有发现匹配您邀请码的uid。。。',500,200);
				return;
			}
			var temp=$('#main').innerHTML;
			$('#main').innerHTML='<h1>您需要完成以下信息完成注册</h1>';
			//选择uid
			var u=$.set('div',$('#main'));
			u.innerHTML='<span>您可以选择下列uid</span>';
			var uid=$.set('select',u);
			var is_in=false;
			var t;
			if(ajax.json.auto){
				is_in=true;
				t=$.set('option',uid);
				t.innerHTML='自动';
				t.value='auto';
			}
			for(i in ajax.json.uids){
				//$('#main').innerHTML+='<input type="button" value="'+ajax.json.uids[i]+'"/>';
				if(ajax.json.uids[i]['isused']){
					continue;
				}
				is_in=true;
				t=$.set('option',uid);
				t.value=ajax.json.uids[i]['uid'];
				t.innerHTML=ajax.json.uids[i]['uid'];
			}
			if(!is_in){
				$('#main').innerHTML=temp;
				$('input')[0].value=info['key'];
				myScript.show('糟糕，服务器没有发现匹配您邀请码的uid。。。',500,200);
				return;
			}
			//选择用户组
			g=$.set('div',$('#main'));
			g.innerHTML='<span>您可以选择下列用户组</span>';
			var group=$.set('select',g);
			t=$.set('option',group);
			t.innerHTML='自动';
			t.value='auto';
			//基本信息
			$.set('h1',$('#main')).innerHTML='选中uid后请填写下列信息';
			var infos=$.set('div',$('#main'));
			infos.innerHTML='用户名<input type="text" id="username"/><br/>密码<input type="password" id="password1"/><br/>确认密码<input type="password" id="password2"/><br/><input type="button" value="检验并提交" onclick="up()"/>';
		}else{
			$('img')[0].onclick();
			myScript.show(ajax.text);
		}
	}
	//第一次提交函数
	function reg(key){
		ver=$('input')[0].value;
		info['key']=key;
		var ajax=$.ajax();
		ajax.page='<?php echo URLROOT;?>p/reg_for_key?stp=1';
		ajax.data='key='+key+'&<?php echo $system->ini_get('reg_ver_ses_name');?>='+ver;
		ajax.callback=cb1;
		ajax.send();
	}

	//第二次提交
	function up(){
		if(!$('#username').value){
			myScript.show('您必须输入您的用户名');
			return;
		}
		if(!$('#password1').value){
			myScript.show('您必须设置您的密码');
			return;
		}
		if($('#password1').value!=$('#password2').value){
			myScript.show('你两次输入的密码不一致，请检查');
			return;
		}
		var ajax=$.ajax();
		ajax.page='<?php echo URLROOT;?>p/reg_for_key?stp=2';
		ajax.setCont({
			'key':info['key'],
			'username':$('#username').value,
			'password':$('#password1').value,
			'uid':$('select')[0].value,
			'group':$('select')[1].value,
			'<?php echo $system->ini_get('reg_ver_ses_name');?>':ver
		});
		ajax.callback=function(ajax){
			if(ajax.json){
				if(ajax.json.error){
					myScript.show(ajax.json.error);
				}else{
					myScript.show('注册成功')
				}
			}else{
				myScript.show(ajax.text);
			}
		}
		ajax.send();
	}
</script>