<link rel="stylesheet" type="text/css" href="<?php echo $system->ini_get('styles_url');?>login_phone.css" />
<div id="main" style="text-align:center">
	<h2>
		欢迎注册
	</h2>
<div>
	<p>&nbsp;用&nbsp;户&nbsp;名&nbsp;<input type="text" id="username"/></p>
	<p>&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;码&nbsp;&nbsp;&nbsp;<input type="password" id="password1"/></p>
	<p>确认密码<input type="password" id="password2"/></p>
	<p>&nbsp;验&nbsp;证&nbsp;码&nbsp;<img src=""/>
	=<input type="text" maxlength="3" size="3" id="add" style="width:160px;"/></p>
	<div onclick="up()" class="button">检验并提交</div>
	<a href="./" class="button">前往登录页面</a>
	<a href="reg_for_key" class="button">前往邀请注册</a>
</div>
</div>
<script>
$('img')[0].onclick=function(){
	this.src="<?php echo URLROOT; ?>img/addition.php?name=<?php echo $system->ini_get('reg_ver_ses_name');?>&"+Math.rand
}
$('img')[0].onclick();
function up(){
		if(!$('#username').value){
			myScript.show('您必须输入您的用户名');
			return;
		}
		if(!$('#password1').value){
			myScript.show('您必须设置您的密码');
			return;
		}
		if($('#password1').value!=$('#password2').value){
			myScript.show('你两次输入的密码不一致，请检查');
			return;
		}
		if(!$('#add').value){
			myScript.show('您必须输入验证码');
			return;
		}
		var ajax=$.ajax();
		ajax.page='<?php echo URLROOT;?>p/reg';
		ajax.setCont({
			'username':$('#username').value,
			'password':$('#password1').value,
			'add':$('#add').value
		});
		ajax.callback=function(ajax){
			if(ajax.json){
				if(ajax.json.error){
					switch (ajax.json.error){
						case -1:
						var info='验证码错误';
						break;
						case 1:
						var info='用户名已存在，请换一个';
						break;
						default:
						var info='未知的错误代码'+ajax.json.error;
						break;
					}
					myScript.show(info);
					$('img')[0].onclick()
				}else{
					myScript.show('注册成功').onoff=function(){
						location.href='<?php echo URLROOT;?>';
					};
				}
			}else{
				myScript.show(ajax.text);
			}
		}
		ajax.send();
	}
</script>