<link rel="stylesheet" type="text/css" href="<?php echo $system->ini_get('styles_url');?>reg.css" />
<?php if($system->on_phone()){ ?>
<style>
	.info_input{
		line-height: 10px;
	}
	.info_input input{
		line-height: 19px;
	}
	.beizhu{
		line-height: 11px;
		color: #555;
		font-size: 9px;
	}
	#key{
		width: 150px;
	}
	#add{
		width: 80px;
	}
	#zhanwei{
		display: none;
	}
	#ui2 input{
		width: 150px;
	}
	#ui2 select{
		width: 160px;
	}
</style>
<?php } ?>
<div style="height:110px;"></div>
<div id="main" class="block">
	<h2><?php echo $system->lang('login','register.key.inputinfo');?></h2>
	<div id="ui1">
		<p class="button_div"><a href="<?php echo URLROOT;?>index/reg"><?php echo $system->lang('login','register.normal');?></a><a href="<?php echo URLROOT;?>index/index"><?php echo $system->lang('login','login');?></a></p>
		<div class="info_input">
			<?php echo $system->lang('login','register.key.name');?><input type="text" id="key"/><?php if($system->on_phone()) echo '<br/>';?><span class="beizhu">邀请码区分大小写</span>
			<br/>
				<?php echo $system->lang('login','verification');?>
				<img src="<?php echo URLROOT; ?>img/addition.php?name=<?php echo $system->ini_get('reg_ver_ses_name');?>"/>=
				<input type="text" maxlength="3" size="3" id="add"/><span id="zhanwei">　　　　　　　</span>
		</div>
		<div  class="button_div"><a onclick="test_key()"><?php echo $system->lang('login','register.key.check');?></a></div>
		<p class="beizhu">验证完邀请码后会显示你能用的uid及其他特权，选择并完善用户信息后即可完成注册</p>
	</div>
	<div id="ui2" style="display:none;">
		<div class="beizhu"><?php echo $system->lang('login','register.key.inputinfo2');?></div>
		<div class="info_input">
			<div class="info_input">
					u&nbsp;i&nbsp;d&nbsp;：
					<select id="uid">
					</select>
				<br/>
					<?php echo $system->lang('login','group');?>
					<select id="group">
						<option value="auto">默认</option>
					</select>
				<br/>
				<?php echo $system->lang('login','register.username');?><input type="text" id="username"/>
				<br/>
				<?php echo $system->lang('login','register.password');?><input type="password" id="password1"/>
				<br/>
				<?php echo $system->lang('login','register.password2');?><input type="password" id="password2"/>
			</div>
			<p class="button_div"><a onclick="up()"/><?php echo $system->lang('login','register');?></a></p>
		</div>
	</div>
	<div id="ui3" style="display:none;">
		hh
	</div>
</div>
<script>
	$('img')[0].onclick=function(){
		this.src='<?php echo URLROOT; ?>img/addition.php?name=<?php echo $system->ini_get('reg_ver_ses_name');?>&t='+Math.random();
		$('#add').value='';
	}
	var info=[];
	var ver;//暂存验证码
	
	function to_ui1(){
		$("#ui1").style.display="";
		$("#ui2").style.display="none";
	}
	function to_ui2(){
		$("#ui1").style.display="none";
		$("#ui2").style.display="";
	}
	//第一个回调函数
	function cb1(ajax){
		if(ajax.json){
			if(ajax.json.error){
				if(ajax.json.error!=1) $('input')[0].value='';
				$('img')[0].onclick();
				myScript.message('<?php echo $system->lang('login','register.key.error');?>',ajax.json.info,'#F00');
				return;
			}
			to_ui2();
			var uid=$("#uid");
			var t;
			if(ajax.json.auto){
				is_in=true;
				t=$.set('option',uid);
				t.innerHTML='<?php echo $system->lang('login','register.key.auto');?>';
				t.value='auto';
			}
			for(i in ajax.json.uids){
				//$('#main').innerHTML+='<input type="button" value="'+ajax.json.uids[i]+'"/>';
				if(ajax.json.uids[i]['isused']){
					continue;
				}
				is_in=true;
				t=$.set('option',uid);
				t.value=ajax.json.uids[i]['uid'];
				t.innerHTML=ajax.json.uids[i]['uid'];
			}
			if(!is_in){
				$('#main').innerHTML=temp;
				$('input')[0].value=info['key'];
				myScript.message('<?php echo $system->lang('login','register.key.error');?>','<?php echo $system->lang('login','register.key.nouid');?>','orange');
				return;
			}
		}else{
			$('img')[0].onclick();
			myScript.show(ajax.text);
		}
	}
	//第一次提交函数
	function test_key(){
		if($("#add").value==""){
			myScript.message('<?php echo $system->lang('login','need_info');?>','<?php echo $system->lang('login','require.verification');?>','#BB0');
			return;
		}
		var ajax=$.ajax();
		ajax.page='<?php echo URLROOT;?>p/reg_for_key?stp=1';
		ajax.data='key='+$("#key").value+'&<?php echo $system->ini_get('reg_ver_ses_name');?>='+$("#add").value;
		ajax.callback=cb1;
		ajax.send();
	}

	//第二次提交
	function up(){
		if(!$('#username').value){
			myScript.message('<?php echo $system->lang('login','need_info');?>','<?php echo $system->lang('login','require.username');?>',"#BB0");
			return;
		}
		if(!$('#password1').value){
			myScript.message('<?php echo $system->lang('login','need_info');?>','<?php echo $system->lang('login','require.password');?>',"#BB0");
			return;
		}
		if($('#password1').value!=$('#password2').value){
			myScript.message('<?php echo $system->lang('login','need_info');?>','<?php echo $system->lang('login','register.password_worry');?>',"#BB0");
			return;
		}
		var ajax=$.ajax();
		ajax.page='<?php echo URLROOT;?>p/reg_for_key?stp=2';
		ajax.setCont({
			'key':$("#key").value,
			'username':$('#username').value,
			'password':$('#password1').value,
			'uid':$('select')[0].value,
			'group':$('select')[1].value,
			'<?php echo $system->ini_get('reg_ver_ses_name');?>':$("#add").value
		});
		ajax.callback=function(ajax){
			if(ajax.json){
				if(ajax.json.error){
					myScript.message('<?php echo $system->lang('login','register.error');?>',ajax.json.info,'orange');
				}else{
					var l=myScript.show('<?php echo $system->lang('login','register.succeed');?>');
					l.onoff=function(){
						window.location.href='<?php echo URLROOT;?>';
					}
				}
			}else{
				myScript.show(ajax.text);
			}
		}
		ajax.send();
	}
	$('#ui1').onkeyup=function(ev){
		if(ev.keyCode==13){
			test_key();
		}
	}
	$('#ui2').onkeyup=function(ev){
		if(ev.keyCode==13){
			up();
		}
	}

</script>